.post {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}

.post p,
ol,
ul {
    line-height: 2rem;
}

@media (min-width: 860px) {
    .post p {
        width: 55%;
    }

    .post p img {
        width: 100%;
    }
}
